<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ page.title }}</title>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:url" content="{{ "/" | absolute_url }}" />
    <meta property="og:site_name" content="Jillian Noble | Branding | Design | Illustration | Stevens Point, Wisconsin" />
    <meta property="og:image" content="{{ "/assets/img/preview.png" | relative_url }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="800" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="{{ page.description }}">

    <link href="{{ "/assets/css/style.css" | relative_url }}?v=2019" rel="stylesheet">
  </head>
  <body>
	  <header role="banner">
      <img src="{{ "/assets/img/jillian-2025-4-23.jpg" | relative_url }}" />
      <h1>Hi, I'm Jillian.</h1>
      
      <p>I used to teach design. Now I run a brand and packaging studio—and I’m building something new for working designers.</p>
  <p>This space will soon house the resources I wish I’d had earlier: pricing clarity, project tools, file prep help, and the stuff school skipped.</p>
      <p class="skills">Until then, find me on Instagram.</p> 
      <nav role="navigation" aria-label="Top Menu">
        <ul>
          <!--<li><a title="Send me an email" href="mailto:jillian@elbongurk.com"><i class="mail"></i></a></li>
          <li><a title="Find me on Dribbble" href="https://dribbble.com/fireantrescue"><i class="dribbble"></i></a></li>
          <li><a title="Find me on Twitter" href="https://twitter.com/fireantrescue"><i class="twitter"></i></a></li>-->
          <li><a title="Find me on Instagram" href="https://www.instagram.com/jnoble/"><i class="instagram"></i>@jillian.is</a></li>
          <!--<li><a title="Find me on Linked In" href="https://www.linkedin.com/in/jilliannoble/"><i class="linked-in"></i></a></li>-->
        </ul>
      </nav>
    </header>
    {{ content }}
    <footer role="contentinfo">
      Copyright &copy; 2025 Jillian Noble
    </footer>
    <script src="{{ "/assets/js/script.js" | relative_url }}?v=2019"></script>
  </body>
</html>

